body {
	text-align: center;
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	margin:0;
	
}
header{
	background-color:#f15b31;
	color:white;
	padding: 30px 20px;
}
nav{
	background-color:#00a6b3;
	color:white;
	padding:20px 0;
}
h1 {
	
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin:0;
}
h2 {
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}
p {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	
}

a {
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	color:white;
	margin:0 20px;
}
